body {
  background-image: url(https://www.ada.edu.az/frq-templates/assets/content_img/Student-Center.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

.team {
  color: blue;
}
nav {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  text-align: center;
  background-color: rgba(0, 255, 255, 0.2);
  border: 2px solid white;
  position: relative;
  bottom: 18px;
  right: 10px;
  width: 1550px;
  border-bottom-left-radius: 800px;
  border-bottom-right-radius: 800px;
}
nav ul li {
  height: 30px;
  width: 150px;
  list-style: none;
  display: inline-block;
  position: relative;
  border-radius: 75px;
  padding-top: 10px;
  margin: 15px 70px;
  background-color: rgba(135, 206, 235, 1);
  border: 3px solid white;
}
nav ul li a {
  color: black;
  text-decoration: none;
  font-size: large;
  font-weight: bold;
}
nav ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: black;
  display: block;
  margin: auto;
  transition: 0.4s;
}
nav ul li:hover::after {
  width: 65%;
}

header {
  font-family: serif;
  text-align: center;
  position: relative;
  top: 15px;
  display: block;
}

.codeac-logo {
  margin-right: 150px;
}

.github-logo {
  margin-left: 150px;
}

header img {
  margin-top: 20px;
  margin-bottom: 5px;
}

header h1 {
  font-size: 45px;
  margin-bottom: 5px;
}

header h2 {
  position: relative;
  bottom: 10px;
  font-weight: lighter;
}
