body {
  background-image: url("https://images.hdqwalls.com/download/landscape-sunset-minimal-4k-2y-2932x2932.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}
body {
  background-color: blueviolet;
}

nav {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  text-align: center;
  background-color: rgba(255, 178, 102, 0.2);
  border: 2px solid white;
  position: relative;
  bottom: 18px;
  right: 10px;
  width: 1550px;
  border-bottom-left-radius: 800px;
  border-bottom-right-radius: 800px;
}
nav ul li {
  height: 30px;
  width: 150px;
  list-style: none;
  display: inline-block;
  position: relative;
  border-radius: 75px;
  padding-top: 10px;
  margin: 15px 70px;
  background-color: transparent;
  border: 3px solid white;
}
nav ul li a {
  color: black;
  text-decoration: none;
  font-size: large;
  font-weight: bold;
}
nav ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: black;
  display: block;
  margin: auto;
  transition: 0.4s;
}
nav ul li:hover::after {
  width: 65%;
}

main h1 {
  text-align: center;
  color: black;
  background-color: rgba(255, 165, 0, 0.3);
  border: 1.5px solid black;
  border-radius: 750px;
}

#Avatars img {
  position: relative;
  top: 40px;
  display: inline-block;
  margin: 0 85px;
  height: 200px;
  width: 200px;
}

table {
  position: relative;
  top: 80px;
  font-size: large;
  border: 3px solid white;
  margin-bottom: 50px;
}

#about {
  width: 1500px;
}

thead {
  height: 50px;
  background-color: rgba(0, 0, 0, 0.2);
}

tbody {
  background-color: rgba(0, 0, 0, 0.35);
}
